
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300);
body {
	color: #797979;
	background: #eeeeee;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	padding: 0px !important;
	margin: 0px !important;
	font-size: 14px !important;
}
ul li {
	list-style: none;
}
a, a:hover, a:focus {
	text-decoration: none;
	outline: none;
	outline: 0;
}
input:focus {
	outline: none;
}
*:focus {
	outline: none;
}
::selection {
	background: #688a7e;
	color: #fff;
}
::-moz-selection {
	background: #688a7e;
	color: #fff;
}
#container {
	width: 100%;
	height: 100%;
}
.lite {
	color: #5A26B3 !important;
	text-transform: uppercase;
}

.header {
	min-height: 60px;
	padding: 0 15px;
}
.header {
	position: fixed;
	left: 0;
	right: 0;
	z-index: 1002;
}
.dark-bg {
	background: rgba(54, 66, 74, 1);
	border-bottom: 1px solid #f1f2f7;
}
a.logo {
	font-size: 22px;
	font-weight: 700;
	color: #0886F8;
	float: left;
	margin-top: 15px;
	text-transform: lowercase;
}
a.logo:hover, a.logo:focus {
	text-decoration: none;
	outline: none;
}
a.logo span {
	color: #EB0953;
	font-weight: 300;
}
/*notification*/

#top_menu .nav>li, ul.top-menu>li {
	float: left;
}
.search-row {
	float: left;
	margin-top: 15px;
	margin-left: 16px;
}
.notification-row {
	float: right;
	margin-top: 15px;
	margin-left: 5px;
}
#task_notificatoin_bar, #mail_notificatoin_bar, #alert_notificatoin_bar, #searchButton {
	margin-top: 3px;
}
ul.top-menu>li>a {
	color: #0886F8;
	font-size: 18px;
	padding: 2px 6px;
	margin-right: 15px;
}
ul.top-menu>li>a:hover, ul.top-menu>li>a:focus {
	background: transparent !important;
	color: #7a7a7a !important;
}
.notification-row .badge {
	position: absolute;
	right: 20px;
	top: -5px;
	z-index: 100;
	border-radius: 9px;
	min-width: 18px;
	height: 18px;
	text-align: center;
	padding: 3px 5px;
	background: #00a0df;
	font-weight: 400;
}
.badge {
	border-radius: 9px;
	min-width: 18px;
	height: 18px;
	text-align: center;
	padding: 3px 5px;
}
.dropdown-menu.extended {
	max-width: 400px !important;
	min-width: 160px !important;
	top: 42px;
	width: 235px !important;
	padding: 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.176) !important;
	border: none !important;
	border-radius: 4px;
	-webkit-border-radius: 4px;
}
.navbar-form {
	padding: 0px;
	margin: 0 0 0 10px;
}
.navbar-form .form-control {
	width: 200px;
	height: 30px;
	background: white url('../img/icons/search-line-icon.png') no-repeat 3px;
	padding-left: 24px;
	margin-top: 1px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Chrome */
	.dropdown-menu.extended {
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.176) !important;
	}
	;
}
/* bootstrape editor*/

.dropdown-menu.extended li p {
	background-color: #F1F2F7;
	color: #666666;
	margin: 0;
	padding: 10px;
}
.dropdown-menu.extended li p.blue {
	background-color: #688a7e;
	color: #fff;
}
.dropdown-menu.extended li a {
	border-bottom: 1px solid #EBEBEB !important;
	font-size: 12px;
	list-style: none;
}
.dropdown-menu.extended li a {
	padding: 15px 10px !important;
	width: 100%;
	display: inline-block;
}
.dropdown-menu.extended li a:hover {
	background-color: #F7F8F9 !important;
	color: #2E2E2E;
	border-bottom: 1px solid #688a7e !important;
}
.dropdown-menu.tasks-bar .task-info .desc {
	font-size: 13px;
	font-weight: normal;
}
.dropdown-menu.tasks-bar .task-info .percent {
	display: inline-block;
	float: right;
	font-size: 13px;
	font-weight: 600;
	padding-left: 10px;
	margin-top: -4px;
}
.dropdown-menu.extended .progress {
	margin-bottom: 0 !important;
	height: 10px;
}
.dropdown-menu.inbox li a .photo img {
	border-radius: 2px 2px 2px 2px;
	float: left;
	height: 40px;
	margin-right: 4px;
	width: 40px;
}
.dropdown-menu.inbox li a .subject {
	display: block;
}
.dropdown-menu.inbox li a .subject .from {
	font-size: 12px;
	font-weight: 600;
}
.dropdown-menu.inbox li a .subject .time {
	font-size: 11px;
	font-style: italic;
	font-weight: bold;
	position: absolute;
	right: 5px;
}
.dropdown-menu.inbox li a .message {
	display: block !important;
	font-size: 11px;
}
.top-nav {
	margin-top: 20px;
}
.top-nav ul.top-menu>li .dropdown-menu.logout {
	width: 200px !important;
}
.top-nav li.dropdown .dropdown-menu {
	float: right;
	right: 0;
	left: auto;
}
.dropdown-menu.extended.logout>li {
	float: left;
	text-align: left;
	width: 100%;
}
.dropdown-menu.extended.logout>li.eborder-top {
	border-top: 2px solid #688a7e !important;
}
.dropdown-menu.extended.logout>li:last-child {
	float: left;
	text-align: left;
	width: 100%;
	background: #688a7e;
}
.dropdown-menu.extended.logout>li:last-child>a, .dropdown-menu.extended.logout>li:last-child>a:hover {
	color: #fff;
	border-bottom: none !important;
	text-transform: uppercase;
	background-color: #688a7e !important;
}
.dropdown-menu.extended.logout>li:last-child>a:hover>i {
	color: #fff;
}
.dropdown-menu>li>a {
	color: #797979;
}
.dropdown-menu.extended.logout>li>a {
	border-bottom: 1px solid #EBEBEB !important;
	font-size: 14px;
	list-style: none;
	padding: 15px 10px !important;
	width: 100%;
	display: inline-block;
}
.dropdown-menu.extended.logout>li>a:hover {
	background-color: #F7F8F9 !important;
	color: #2E2E2E;
	border-bottom: 1px solid #688a7e !important;
}
.dropdown-menu.extended.logout>li>a:hover i {
	color: #688a7e;
}
.dropdown-menu.extended.logout>li>a i {
	font-size: 17px;
}
.dropdown-menu.extended.logout>li>a>i {
	display: inline-block;
	padding-right: 10px
}
.top-nav .username {
	font-size: 13px;
	color: #0886F8;
	display: inline;
}
.top-nav ul.top-menu>li>a {
	padding: 8px;
	background: none;
	margin-right: 0;
}
.top-nav ul.top-menu>li {
	margin-left: 10px;
}
.top-nav ul.top-menu>li>a:hover, .top-nav ul.top-menu>li>a:focus {
	background: #F1F2F7;
}
.top-nav .dropdown-menu.extended.logout {
	top: 50px;
}
.top-nav .nav .caret {
	border-bottom-color: #A4AABA;
	border-top-color: #A4AABA;
}
.top-nav ul.top-menu>li>a:hover .caret {
	border-bottom-color: #7498f1;
	border-top-color: #7498f1;
}
.log-arrow-up {
	background: url("../img/arrow-up.png") no-repeat;
	width: 20px;
	height: 11px;
	position: absolute;
	right: 20px;
	top: -10px;
}
/*----*/

/* .info-box

=================================================================== */

/*----------------	color------------------------*/

.dark-bg {
	color: #000000;
	background: #ffffff;
	background-color: #ffffff;
}
/*----------------------	panel-----------------*/

/* Chat Widget starts */

/* Chat widget ends */

/* Just Gage - Demo Charts

=================================================================== */

/**

 * Nestable

 */

* /Widget-Content */ .widget-content .error .form-inline button {
	margin-left: -2px;
	padding: 8px 12px;
}
/* Widget white extras */

/*-----	map-----*/

* Google maps */ .gmap iframe {
	width: 100%;
	margin: 0px;
	padding: 0px;
}
/* Google maps ends */

/* Today datas */

/*----*/

.notify-arrow {
	border-style: solid;
	border-width: 0 9px 9px;
	height: 0;
	margin-top: 0;
	opacity: 0;
	position: absolute;
	left: 7px;
	top: -18px;
	transition: all 0.25s ease 0s;
	width: 0;
	z-index: 10;
	margin-top: 10px;
	opacity: 1;
}
.notify-arrow-blue {
	border-color: transparent transparent #688a7e;
	border-bottom-color: #688a7e !important;
	border-top-color: #688a7e !important;
}
/*search*/

/*--sidebar toggle---*/

.toggle-nav {
	float: left;
	padding-right: 15px;
	margin-top: 20px;
}
.toggle-nav .icon-reorder {
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
}
/*state overview*/

/**/

/*personal task*/

/*badge*/

.badge.bg-important {
	background: #EB0953;
	font-family: 'Lato', sans-serif;
	font-size: 11px;
}
/*---revenue----*/

/*easy pie chart*/

@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Chrome */
}
/*Creative carousel model*/

/*product post*/

/*pie chart */

/*profile-widget*/

/*profile-widget image bg*/

.profile-ava img {
	border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 2px solid #0886F8;
	display: inline-block;
	width: 30px;
}
/* .social-box

=================================================================== */

/*weather*/

/*weather widget 2*/

/*fontawesome*/

/*mail inbox*/

/*404 page*/

/*profile*/

/*profile-widget color bg*/

/*.activity span, .activity.alt span {

    width: 45px;

    height: 45px;

    line-height: 45px;

    border-radius: 50%;

    -webkit-border-radius: 50%;

    background: #eee;

    text-align: center;

    color: #fff;

    font-size: 16px;

}*/

/*invoice*/

/*panel heading color*/

/*table*/

/*button*/

/*tabs*/

/*general page*/

/*carousel*/

/*gritter*/

/*form*/

/*form validation*/

input:focus:invalid:focus {
	border-color: #00a0df !important;
}
/*slider*/

/*----switch ----*/

/*tag input*/

/*checkbox & radio style*/

/*date picker*/

/*ck editor*/

/*form wizard*/

/*widget*/

/*Timeline chat*/

/*.profile-activity:before, .act-time:before, .act-time .text:before {

    content: "";

    left: 60px;

    position: absolute;

    top: -2px;

}*/

.message {
	border-radius: 20px 20px 20px 20px;
	margin: 0 15px 10px;
	padding: 5px 20px;
	position: relative;
}

/*custom select*/
.headerMessage{
	padding-top: 125px;
}



.profileClass{
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	padding-top: 50px;
	padding-bottom: 50px;
	background: #FFFFFF;
}

.dropdown-toggle::after {
    display: none;
}


@media (max-width: 740px) {
	#navusername {
		display: none !important;
	}
	
	.lite{
		display: none;
	}
	
	.top-nav ul.top-menu>li {
	margin-left: 0px;
}
}

.event-list {
		list-style: none;
		font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
		margin: 0px;
		padding: 0px;
	}
	.event-list > li {
		background-color: rgb(255, 255, 255);
		box-shadow: 0px 0px 5px rgb(51, 51, 51);
		box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
		padding: 0px;
		margin: 0px 0px 20px;
	}
	.event-list > li > time {
		display: inline-block;
		width: 100%;
		color: rgb(255, 255, 255);
		background-color: rgb(197, 44, 102);
		padding: 5px;
		text-align: center;
		text-transform: uppercase;
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(165, 82, 167);
	}
	.event-list > li > time > span {
		display: none;
	}
	.event-list > li > time > .day {
		display: block;
		font-size: 56pt;
		font-weight: 100;
		line-height: 1;
	}
	.event-list > li time > .month {
		display: block;
		font-size: 24pt;
		font-weight: 900;
		line-height: 1;
	}
	.event-list > li > img {
		width: 100%;
	}
	.event-list > li > .info {
		padding-top: 5px;
		text-align: center;
		color: #000000;
	}
	.event-list > li > .info > .title {
		font-size: 17pt;
		font-weight: 700;
		margin: 0px;
	}
	.event-list > li > .info > .desc {
		font-size: 13pt;
		font-weight: 300;
		margin: 0px;
	}
	.event-list > li > .info > ul,
	.event-list > li > .social > ul {
		display: table;
		list-style: none;
		margin: 10px 0px 0px;
		padding: 0px;
		width: 100%;
		text-align: center;
	}
	.event-list > li > .social > ul {
		margin: 0px;
	}
	.event-list > li > .info > ul > li,
	.event-list > li > .social > ul > li {
		display: table-cell;
		cursor: pointer;
		color: rgb(30, 30, 30);
		font-size: 11pt;
		font-weight: 300;
        padding: 3px 0px;
	}
    .event-list > li > .info > ul > li > a {
		display: block;
		width: 100%;
		color: rgb(30, 30, 30);
		text-decoration: none;
	} 
    .event-list > li > .social > ul > li {    
        padding: 0px;
    }
    .event-list > li > .social > ul > li > a {
        padding: 3px 0px;
	} 
	.event-list > li > .info > ul > li:hover,
	.event-list > li > .social > ul > li:hover {
		color: rgb(30, 30, 30);
		background-color: rgb(200, 200, 200);
	}
	.facebook a,
	.twitter a,
	.google-plus a {
		display: block;
		width: 100%;
		color: rgb(75, 110, 168) !important;
	}
	.twitter a {
		color: rgb(79, 213, 248) !important;
	}
	.google-plus a {
		color: rgb(221, 75, 57) !important;
	}
	.facebook:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(75, 110, 168) !important;
	}
	.twitter:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(79, 213, 248) !important;
	}
	.google-plus:hover a {
		color: rgb(255, 255, 255) !important;
		background-color: rgb(221, 75, 57) !important;
	}

	@media (min-width: 768px) {
		.event-list > li {
			position: relative;
			display: block;
			width: 100%;
			height: 120px;
			padding: 0px;
		}
		.event-list > li > time,
		.event-list > li > img  {
			display: inline-block;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			float: left;
		}
		.event-list > li > .info {
			background-color: rgb(245, 245, 245);
			overflow: hidden;
		}
		.event-list > li > time,
		.event-list > li > img {
			width: 120px;
			height: 120px;
			padding: 0px;
			margin: 0px;
		}
		.event-list > li > .info {
			position: relative;
			height: 120px;
			text-align: left;
			padding-right: 40px;
		}	
		.event-list > li > .info > .title, 
		.event-list > li > .info > .desc {
			padding: 0px 10px;
		}
		.event-list > li > .info > .tag {
			color: #ffffff;
		}
		
		.event-list > li > .info > ul {
			position: absolute;
			left: 0px;
			bottom: 0px;
		}
		.event-list > li > .social {
			position: absolute;
			top: 0px;
			right: 0px;
			display: block;
			width: 40px;
		}
        .event-list > li > .social > ul {
            border-left: 1px solid rgb(230, 230, 230);
        }
		.event-list > li > .social > ul > li {			
			display: block;
            padding: 0px;
		}
		.event-list > li > .social > ul > li > a {
			display: block;
			width: 40px;
			padding: 10px 0px 9px;
		}
	}

	.profile-block{
	position:relative;
	overflow:hidden;
	}
.profile-block .user-heading {
  background: #c5251e none repeat scroll 0 0;
  border-radius: 4px 4px 0 0;
  color: #fff;
  padding: 20px;
  text-align: center;
}
.profile-block .user-heading a img {
	border-radius: 50%;
	margin:auto auto 10px;
	display: block;
	height: 140px;
	width: 140px;
	border: 10px solid rgba(255, 255, 255, 0.3);
}
.profile-block .user-heading h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  line-height: 22px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.profile-block .user-heading p {
  color: #fff;
  font-size: 12px;
  margin-bottom: 0;
  text-align: center;
}
.profile-block ul{
	padding:0;
	margin:0;
	}
.profile-block ul > li {
  border-bottom: 1px solid #ddd;
  line-height: 30px;
  margin-top: 0;
}
.profile-block .nav > li > a {
  background: #e7e7e7;
  border-radius: 0;
  color: #000;
  display: block;
  font-size: 14px;
  padding: 6px 18px;
  position: relative;
  text-align: left;
  text-decoration: none;
}
.profile-block ul > li > a > i {
  color: #000;
  font-size: 16px;
  padding-right: 10px;
}
.profile-block ul > li > a:hover, 
.profile-block ul > li > a:focus, 
.profile-block ul li.active a {
  background: #fff !important;
  border-radius: 0;
  color: #000 !important;
}

.suggestDiv{
	color: #ffffff;
	background-color: #607D8B;
}

.suggestDiv a{
	color: #ffffff;
}

.divPadding{
	padding-top: 30px;
	padding-bottom: 15px;
}

.info-block
{
    border-right:5px solid #E6E6E6;margin-bottom:25px
}
.info-block .square-box
{
    width:100px;min-height:110px;margin-right:22px;text-align:center!important;background-color:#676767;padding:20px 0
}
.info-block.block-info
{
    border-color:#20819e
}
.info-block.block-info .square-box
{
    background-color:#20819e;color:#FFF
}

.searchable-container{
	padding-top: 15px;
}

.sms-send-page .pull-left p {
    color: #5b6773;
    margin: 0;
}
.sms-send-page .pull-left small {
    color: #999999;
    font-size: 10px;
}
.sms-send-page .pull-left {
    line-height: 18px;
}
.sms-send-page .list-group-item {
    padding: 14px;
      border: 1px solid #e6e8eb;
       position: relative;
}
.sms-send-page .pull-right .btn {
    border: medium none;
    border-radius: 23px;
    font-size: 14px;
    font-weight: 900;
    padding: 8px 20px;
    text-transform: uppercase;
}
.sms-send-page .list-group {
    box-shadow: 0 0 11px #eceeef;
}
.sms-send-page .list-group-item:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.sms-send-page .list-group-item:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    margin-bottom: 0;
}
.sms-send-page .btn
{
  float: right;
}

.sms-send-page .pull-left, .sms-send-page .pull-right{
  padding: 0px;
}
.sms-send-page .pull-left img {
    width: 37px;
    height: 37px;
    float: left;
    margin-right: 10px;
}
.sms-send-page .pull-left small .fa {
    font-size: 9px;
    vertical-align: middle;
}

.responsive-btn {
    white-space: normal;
}
